<!DOCTYPE html>
<html>
        <head>
            <title>Text Analyzer</title>
            <link rel= "stylesheet" type = "text/css" href = "css/style.css" />
        </head>
        <body>
            <h1>Results</h1>
            <h3>This is the text you submitted:</h3>
            <% @user_input.each do |element| %>
            <p><%= element %></p>
            <% end %>
            <h3>This is the analysis:</h3>
            <%=@lines%>
            <br>
            <%=@totalchars%>
            <br>
            <%=@nowhites%>
            <br>
            <%=@totalwords%>
            <br>
            <%=@sentences%>
            <br>
            <%=@paragraphs%>
            <br>
            <%=@avg_sents%>
            <br>
            <%=@avg_words%>
            <br>
            <%=@keywords%>
            <br>
            <br>
            <form action="/">
                <input type="submit" value="Analyze Again?" />
            </form>
        </body>
</html>